<app-header3></app-header3>

<ion-content class="background" fullscreen>
  <div id="content" class="ion-text-center">
    
    <p>{{this.today}}</p>

    <ion-button expand="block" class="btn btn1" (click)="scan()"><ion-icon name="camera" slot="start"></ion-icon>Escanear QR</ion-button>

    <ion-button expand="block" class="btn btn2" (click)="mostrarAsistencia()"><ion-icon name="list" slot="start"></ion-icon>Asistencia</ion-button>

    <ion-button expand="block" class="btn btn3" (click)="sendMail()"><ion-icon name="file-tray-outline" slot="start"></ion-icon>Enviar registro</ion-button>

    <ion-button expand="block" class="btn btn4" (click)="delete()"><ion-icon name="alert-circle-outline" slot="start"></ion-icon>Borrar storage</ion-button>
    <h1>Bienvenide <b class="username">{{data}}</b></h1>
  </div>
  
</ion-content>

<app-footer1></app-footer1>
